/* ArtistZone.css */
.ArtistZone h1 {
  font-family: monospace;
  color: black !important;
  top: 0;
  left: 0;
  margin: 20px;
}

.ArtistZone-opening img.Artists {
  height: 600px;
  width: 1400px;
  margin: 0 auto;
  display: block;
}

.textOverlay {
  position: relative; /* Set the parent container as relative */
}

.textOverlay h3 {
  position: absolute; /* Set the h3 element as absolute */
  bottom: 800px; /* Adjust the vertical position */
  left: 50%; /* Adjust the horizontal position */
  transform: translate(0%, 30%); /* Center the element */
}

.textOverlay h2 {
  font-family: monospace;
  transform: translate(0%,30%);
}

.FeaturedArtists .PostMalone {
  position: relative; /* Add position: relative to the image container */
  width: 200px; /* Set the desired width */
  height: auto; /* Let the height adjust proportionally */
}

.FeaturedArtists .caption {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.FeaturedArtists:hover .caption {
  opacity: 1;
}