/* DonationsPage.css */
.left-column-image img {
  max-width: 100%;
  max-height: 700px;
  width: auto;
  height: auto;
  padding-top: 21px;
}

.page-divider {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align content to the left */
}

.page-divider img {
  margin-left: -100px; 
}












