.image-icons-container {
  display: grid;
  grid-template-columns: repeat(4,1fr); 
  row-gap: -10px;
  width: 100%;
  height:700px;
  position:center;
}
.image-icon-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-icon-container img {
  object-fit: cover;
  height: 350px;
  width: 100%;
}

.image-icon-content{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    text-align: center;
    padding: 5px;
    color:white;
    font-weight: bold;
    
}